/* #anime{
    height: 400px;
    width: 600px;
    background-color: aqua;

  /* animation-name:width ;
  animation-duration: 3s;
  animation-delay: 0s ;
  animation-timing-function: ease-in;
  animation-iteration-count: 3;
 animation-direction:alternate; */
 /* text-align: center;


animation: colors 3s 0s ease-in 3 alternate ;

}


@keyframes shivaanime{
    form
    {font-size:20px;

    }

    to{
        font-size:  40px;
    }

}

@keyframes colors{
    0%{
        background-color: rgb(106, 17, 17);
    }

    40%{ border-radius: 50%;
       
    
    }

    50%{
        background-color:red
    }

    100%{
        background-color:blue
    }
   
}

/* 
@keyframes width{
    from{
        width: 10px;
        background-color: rgb(106, 17, 17);
        font-size:20px;
    /* } */

  /* / */


@media(width:600px)
 {
    h1{
        background-color:rgb(140, 30, 3);
        text-align: center;
        font-size: 20px;
        border-radius: 25%;
    }

    div{
        height: 100px;
        width: 100px;
        background-color: black;
        text-align: center;
        font-size: 20px;
        color: white;
 }

}

@media(min-width:300px)
{
    h1{
        background-color: bisque;
        text-align: start;
        color: black;
    }
    
    div{
        background-color: aqua;
        text-align: start;
        color: black;
    }
}

@media(max-width:250px)
{
    h1{
        background-color: black;
    }
}

@media(orientation:landscape)
{
    h1{
        background-color: chocolate;
        color: wheat ;
    }
}